/* Imported Font Styles */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* ---------------------------------------- */
/* Header styles */
/* ----------------------------------------*/

.header{
    /* position: absolute; */
    max-width: 1440px;
    height: 650px;
    /* border: 2px solid red; */
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 135px;
}

.banner-content{
    margin: 40px 221px 44px 221px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img{
    margin-bottom: 32px;
}

.banner-content h2{
    text-align: center;
    margin-bottom: 24px;
}

.banner-content p{
    margin-left: 270px;
    margin-right: 270px;
    margin-bottom: 32px;
}

/* ---------------------------------------- */
/* Body Styles */
/* ----------------------------------------*/

.main{
    margin: 0 150px 0px 150px;
}

.layer-body{
    max-width: 1140px;
    height: 1395px;
    padding: 80px 97px 80px 97px;
    /* border: 2px solid red; */
    /* margin: 0 150px 90px 150px; */
    background: rgba(13, 19, 33, 0.02);
}

.layer-1{
    margin: 0 47px;
    text-align: center;
}

.layer-1 h2{
    margin-bottom: 24px;
}

.layer-1 p{
    margin-bottom: 45px;
}

/* ----------- layer-1 Endss -------------- */

.layer-2{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(to right, white, rgba(13, 19, 33, 0.02));
    /* background-color: white; */
}

.layer-2-container-1{
    width: 70%;
}

.layer-2-container-2{
    width: 30%;
}


/* ----------- layer-2 Endssssss------------
------------------------------------------- */


.layer-3{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(to left, white, rgba(13, 19, 33, 0.02)); 
}

.layer-3-container-1{
    width: 30%;
}

.layer-3-container-2{
    width: 70%;
}

/* ------- layer-3 Endssssssss --------- 
----------------------------------------*/

.layer-4{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(to right, white, rgba(13, 19, 33, 0.02));
    /* background-color: white; */
}

.layer-4-container-1{
    width: 70%;
}

.layer-4-container-2{
    width: 30%;
}


.inspiration-section{
    max-width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 150px 150px 150px; */
    margin-bottom: 150px;
}

.inspiration-title{
    margin: 0 144px 24px 144px;
}

.inspiration-title h2{
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-title p{
    margin-bottom: 48px;
    text-align: center;
}

.youtube-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    margin: 0 150px 150px 150px;
    padding: 32px;
    align-self: stretch;
    box-shadow: black;
}

.youtube-video iframe{
    border-radius: 15px;
    /* align-self: stretch; */
    width: 100%;
    height: 100%;
}

/* -----------------------------
-------------------------------- */

.target-section{
    max-width: 1140px;
    height: 463px;
}

.target-title{
    margin: 0 144px 0 144px;
}

.target-title h1{
    text-align: center;
    margin-bottom: 24px;
}

.target-title p{
    margin-bottom: 48px;
    text-align: center;
}

.learn-more{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.skills-subsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.html img, .html p, .css img, .css p, .js img, .js p{
    margin-bottom: 24px;
}

.html h2, .css h2, .js h2{
    margin-bottom: 8px;
}

.html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
    padding: 40px;
}

.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
    padding: 40px;
}

.js{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

/* ---------- Footer startssss --------------
--------------------------------------------- */

.footer{
    padding: 64px 48px;
    background-image: url(../assets/handshake.jpg);
}

.footer-title{
    text-align: center;
}

.footer-title h2{
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}

.footer-title p{
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
}

#suggestion{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    position: static;
    width: 548px;
    height: 57px;
    justify-content: flex-start;
}

.form-and-btn{
    margin: 0 180px 1px 180px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.form-and-btn button{
    position: static;
    width: 120px;
    height: 58px;
    justify-content: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

